openapi: '3.0.2'

info:
  title: vsuite public api
  version: '1.0'
  description: Documentation for vsuites public API. Our public API lets you interact with key parts of the vsuite product
  license:
    name: MIT
  contact:
    name: vsuite technical team
    email: support@myvsuite.com
  x-logo:
    url: 'https://raw.githubusercontent.com/vatglobal/publicapi/master/vsuite_logo.png'
    altText: vsuite logo
  x-servers:
    - url: https://server.myvsuite.com/api/v1/
    - description: Version one API URL

tags:
  - name: Entity
    description: Manage your entities
  - name: Organization
    description: Manage your organizations
  - name: Country
    description: Country information
  - name: Currency
    description: Currency information
  - name: vFile
    description: Manage 

servers:
  - url: https://server.myvsuite.com/api/v1/

# Authentication and schemas
components:
  
  securitySchemes:
    
    ApiKeyAuth:
      type: apiKey
      in: header
      name: HTTP_AUTHORIZATION
      description: "Use your assigined API key to authenticate. To request one, please email the vsuite technical team."
  
  schemas:
    
    errorMessageDetail:
      type: array
      items:
        type: string
        example: Reason why authentication failed

    errorMessageDict:
      type: object
      properties:
        string:
          type: array
          items:
            type: string

    id:
      type: string
      format: uuid
      example: fc096d1a-9535-4d8b-b504-d86a66d92de8

    ListEntity:
      type: object
      required:
        - count
        - next
        - previous
        - results
      properties:
        count:
          type: integer
        next:
          type: integer
        previous:
          type: integer
        results:
          type: array
          items:
            $ref: "#/components/schemas/Entity"
    Entity:
      type: object
      required:
        - id
        - name
        - organization
        - country
        - colour
        - tax_number
        - internal_ref
      properties:
        id:
          $ref: "#/components/schemas/id"
        name:
          type: string
        organization:
          type: object
          required:
            - id
            - name
            - hide_organization
          properties:
            id:
              $ref: "#/components/schemas/id"
            name:
              type: string
            hide_organization:
              type: boolean
        country:
          $ref: "#/components/schemas/id"
        colour:
          type: string
          example: rgba(4%,4,4%,0.4)
          description: "String representing RGBA or HSL colour. Example: rgba(4%,4,4%,0.4)"
        tax_number: 
          type: string
          description: "Tax Identification Number. This is NOT the VAT number."
    
    ListOrganization:
      type: object
      required:
        - count
        - next
        - previous
        - results
      properties:
        count:
          type: integer
        next:
          type: integer
        previous:
          type: integer
        results:
          type: array
          items:
            $ref: "#/components/schemas/Organization"
    Organization:
      type: object
      required:
        - id
        - name
        - management_group
        - hide_organization
        - internal_ref
        - vflow_block_weekends
      properties:
        id:
          $ref: "#/components/schemas/id"
        name:
          type: string
        management_group:
          $ref: "#/components/schemas/id"
        hide_organization:
          type: boolean
        internal_ref:
          type: string
        vflow_block_weekends:
          type: boolean
    
    ListCurrencies:
      type: object
      required:
        - count
        - next
        - previous
        - results
      properties:
        count:
          type: integer
        next:
          type: integer
        previous:
          type: integer
        results:
          type: array
          items:
            $ref: "#/components/schemas/Currency"
    Currency:
      type: object
      required:
        - id
        - iso
        - name
        - symbol
      properties:
        id:
          $ref: "#/components/schemas/id"
        iso:
          type: string
          description: "3 letter iso code for the currency"
        name:
          type: string
        symbol:
          type: string
          example: "&#65;&#102;"
    
    ListCountries:
      type: object
      required:
        - count
        - next
        - previous
        - results
      properties:
        count:
          type: integer
        next:
          type: integer
        previous:
          type: integer
        results:
          type: array
          items:
            $ref: "#/components/schemas/Country"
    Country:
      type: object
      required:
        - id
        - iso
        - iso_3
        - name
        - phone_prefix
        - is_eu
        - currency
      properties:
        id:
          $ref: "#/components/schemas/id"
        iso:
          type: string
          description: "2 letter iso code for the country"
        iso_3:
          type: string
          description: "iso 3 code"
        name:
          type: string
        phone_prefix:
          type: string
          example: "43"
        is_eu:
          type: boolean
          description: "Is this country in the EU?"
        currency:
          $ref: "#/components/schemas/id"

    ListPeriods:
      type: object
      required:
        - count
        - next
        - previous
        - results
      properties:
        count:
          type: integer
        next:
          type: integer
        previous:
          type: integer
        results:
          type: array
          items:
            $ref: "#/components/schemas/Period"
    Period:
      type: object
      required:
        - id
        - country
        - filing_period
        - filing_type
        - is_day_editable
        - is_moneth_editable
        - comment
        - is_automatically_created
      properties:
        id:
          $ref: "#/components/schemas/id"
        country:
          $ref: "#/components/schemas/id"
        filing_period:
          type: string
        filing_type:
          type: object
          required:
            - id
            - name_short
            - name_long
          properties:
            id:
              $ref: "#/components/schemas/id"
            name_short:
              type: string
            name_long:
              type: string
        is_day_editable:
          type: boolean
        is_moneth_editable:
          type: boolean
        comment:
          type: string
        is_automatically_created:
          type: boolean

    ListSavedFilingPeriods:
      type: object
      required:
        - count
        - next
        - previous
        - results
      properties:
        count:
          type: integer
        next:
          type: integer
        previous:
          type: integer
        results:
          type: array
          items:
            $ref: "#/components/schemas/SavedFilingPeriod"
    SavedFilingPeriod:
      type: object
      required:
        - id
        - filing_status
        - outcome_type
        - outcome_amount
        - comment_accept_reject
        - entity
        - entity_name
        - entity_colour
        - vat_number_period
        - filing_type
        - country
        - country_iso
        - filing_period
        - months_to_add
        - date_filing_due
        - date_period_ending
        - from_day_weekend
        - is_color_inverted
        - number_files_attached
        - is_vat_return_submitted
        - submission_receipt_id
        - is_vfile_allowed
        - date_created
        - date_modified
        - date_submitted
      properties:
        id:
          $ref: "#/components/schemas/id"
        filing_status:
          type: string
          description: "Choices: [get_started, processed, processing, compliance_errors, upload_failed, processing_errors, ready_file, ready_file_nil, awaiting_review, rejected, filed, canceled]"
        outcome_type:
          type: string
          description: "Choices: [payment_due, payment_madeno_payment_due, refund_due, refund_requested, refund_carried_forward, refund_received, nil_return]"
        outcome_amount:
          type: number
          format: float
        comment_accept_reject:
          type: string
          description: "Comment during approval process"
        entity:
          $ref: "#/components/schemas/id"
        entity_name:
          type: string
        entity_colour:
          type: string
          example: "rgba(4%,4,4%,0.4)"
        vat_number_period:
          $ref: "#/components/schemas/id"
        filing_type:
          $ref: "#/components/schemas/id"
        country:
          $ref: "#/components/schemas/id"
        country_iso:
          type: string
        filing_period:
          type: string
        months_to_add:
          type: integer
        date_filing_due:
          type: string
          example: "2020-01-07"
        date_period_ending:
          type: string
          example: "2020-02"
        from_day_weekend:
          type: string
        is_color_inverted:
          type: boolean
          description: "A deadline gets its colour inverted signifies that it no longer needs to be dealt with"
        number_files_attached:
          type: integer
        is_vat_return_submitted:
          type: boolean
          description: "Set to true when VAT return attached has been submitted by vsuite (ie. MTD for UK)"
        submission_receipt_id:
          type: string
          description: "Receipt ID received when submitting with MTD"
        is_vfile_allowed:
          type: boolean
        date_created:
          type: string
          format: date-time
        date_modified:
          type: string
          format: date-time
        date_submitted:
          type: string
          format: date-time



paths:

  /entity:
    
    get:
      summary: List entities
      operationId: listEntities
      description: ->
        List the entities that the user may access (view and/or modify). 
        Any authenticated user may call this endpoint. 
        An empty list is returned if the user does not have access to 
        any entity or does not have the required permissions.
      tags:
        - Entity
      parameters:
        - name: limit
          in: query
          description: how many items to return in one page
          required: false
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          description: how many items to offset (number of pages * limit size)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: List of entities
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEntity"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"

    post:
      summary: Create a new entity
      operationId: createEntity
      description: >-
        Create new entity. Only admins, managers and account managers may create new entities. 
        NOTE! If the entity is to be assigned to a hidden organization 
        (i.e. the flag `hide_organization` is set to `True` in the request data) 
        and a hidden organization already exists within the user's management group, 
        the new entity is assigned to that organization 
        (NOTE that a single hidden organization may existing within a management group), 
        otherwise a new hidden organization is created. NOTE! If the new entity is intended 
        to be part of a "single entity" management group 
        (i.e. the flag `is_single_entity` is set to `True` in the request data), 
        it will automatically be assigned to a hidden organization 
        (this is hardcoded also in the front-end), and the `is_single_entity` 
        flag will be set `True` on the management group. NOTE! On creating a new entity, 
        full permissions on this entity are assigned to: 
        the creating user; all managers that have access to the organization containing this entity;
        all admins in the same management group.
      tags:
        - Entity
      responses:
        '201':
          description: Entity was created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Entity"
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"
        '403':
          description: Unauthorized / Limited to one entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                organization:
                  $ref: "#/components/schemas/id"
                country:
                  $ref: "#/components/schemas/id"
                colour:
                  type: string
                  example: "rgba(4%,4,4%,0.4)"
                  description: "String representing RGBA or HSL colour. Example: rgba(4%,4,4%,0.4)"
                tax_number:
                  type: string
                  description: "Tax Identification Number. This is NOT the VAT number."
              required:
                - name
                - organization
                - colour


  /entity/{entity_id}:

    get:
      summary: Get a specific entity
      operationId: getSpecificEntity
      description: Retrieve the entity data. Only users with the `entity_management` view permission may call this endpoint.
      tags:
        - Entity
      responses:
        '200':
          description: Entity was found and could be retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Entity"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"
        '404':
          description: Entity does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"

    put:
      summary: Edit specific entity
      operationId: putSpecificEntity
      description: Update entity data. Only users with the `entity_management` modify permission may call this endpoint.
      tags:
        - Entity
      responses:
        '200':
          description: Entity was updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Entity"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"
        '404':
          description: Entity does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                organization:
                  $ref: "#/components/schemas/id"
                country:
                  $ref: "#/components/schemas/id"
                colour:
                  type: string
                  example: "rgba(4%,4,4%,0.4)"
                  description: "String representing RGBA or HSL colour. Example: rgba(4%,4,4%,0.4)"
                tax_number:
                  type: string
                  description: "Tax Identification Number. This is NOT the VAT number."
              required:
                - name
                - organization
                - colour

    patch:
      summary: Patch specific entity
      operationId: patchSpecificEntity
      description: ->
        Partial update of entity data. Only users with the `entity_management' 
        modify permission may call this endpoint.
      tags:
        - Entity
      responses:
        '200':
          description: Entity was partially updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Entity"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"
        '404':
          description: Entity does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                organization:
                  $ref: "#/components/schemas/id"
                country:
                  $ref: "#/components/schemas/id"
                colour:
                  type: string
                  example: "rgba(4%,4,4%,0.4)"
                  description: "String representing RGBA or HSL colour. Example: rgba(4%,4,4%,0.4)"
                tax_number:
                  type: string
                  description: "Tax Identification Number. This is NOT the VAT number."

    delete:
      summary: Delete an entity
      operationId: deleteEntity
      description: ->
        Deletes the entity. Only users with the `entity_management` 
        modify permission may call this endpoint. 
        NOTE! Only entities with no VAT returns generated may be deleted.
      tags:
        - Entity
      responses:
        '204':
          description: Entity was deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"
        '403':
          description: Entity can't be deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDict"


  /organization:

    get:
      summary: List organizations
      operationId: listOrganizations
      description: ->
        List the organizations that the user may access (view and/or modify). 
        Any authenticated user may call this endpoint. 
        An empty list is returned if the user does not have access to any 
        organizations or does not have the required permissions.
      tags:
        - Organization
      parameters:
        - name: limit
          in: query
          description: how many items to return in one page
          required: false
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          description: how many items to offset (number of pages * limit size)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: List of organizations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOrganization"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"

    post:
      summary: Create a new organization
      operationId: createOrganization
      description: >-
        Create new organization. Only admins and managers may create new organizations. 
        On creating a new organization, full permissions on this organization are 
        assigned to the creating user and all the admins in the same management group.
      tags:
        - Organization
      parameters:
        - name: management_group
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/id"
      responses:
        '201':
          description: Organization was created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        '403':
          description: Unauthorized / other authentication issue
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDict"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                management_group:
                  $ref: "#/components/schemas/id"
                hide_organization:
                  type: boolean
                  description: "User wanted to attach an entity without a team"
                internal_ref:
                  type: string
                  description: "Internal reference ID to your system."
                vflow_block_weekends:
                  type: boolean
                  description: "When TRUE, deadlines in vFlow will be moved to Friday if they fall on weekend"
              required:
                - name


  /organization/{organization_id}:

    get:
      summary: Get a specific organization
      operationId: getSpecificOrganization
      description: Retrieve the organization data. Only users with the `org_management` view permission may call this endpoint.
      tags:
        - Organization
      responses:
        '200':
          description: Organization was found and could be retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"
        '404':
          description: Organization does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"

    put:
      summary: Edit specific organization
      operationId: putSpecificOrganization
      description: Update organization data. Only users with the `org_management` modify permission may call this endpoint.
      tags:
        - Organization
      responses:
        '200':
          description: Organization was updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"
        '403':
          description: Cannot change the management group of an organization
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDict"
        '404':
          description: Organization does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                management_group:
                  $ref: "#/components/schemas/id"
                hide_organization:
                  type: boolean
                  description: "User wanted to attach an entity without a team"
                internal_ref:
                  type: string
                  description: "Internal reference ID to your system."
                vflow_block_weekends:
                  type: boolean
                  description: "When TRUE, deadlines in vFlow will be moved to Friday if they fall on weekend"
              required:
                - name

    patch:
      summary: Patch specific organization
      operationId: patchSpecificOrganization
      description: ->
        Partial update of organization data. Only users with the `org_management' 
        modify permission may call this endpoint.
      tags:
        - Organization
      responses:
        '200':
          description: Organization was partially updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"
        '403':
          description: Cannot change the management group of an organization
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDict"
        '404':
          description: Organization does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                management_group:
                  $ref: "#/components/schemas/id"
                hide_organization:
                  type: boolean
                  description: "User wanted to attach an entity without a team"
                internal_ref:
                  type: string
                  description: "Internal reference ID to your system."
                vflow_block_weekends:
                  type: boolean
                  description: "When TRUE, deadlines in vFlow will be moved to Friday if they fall on weekend"

    delete:
      summary: Delete an organization
      operationId: deleteOrganization
      description: ->
        Deletes the organization. Only users with the `org_management` 
        modify permission may call this endpoint. NOTE! Only organizations 
        with no entities may be deleted. If the organization contains entities, 
        these need to be deleted/moved to a different organization first.
      tags:
        - Organization
      responses:
        '204':
          description: Organization was deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"
        '403':
          description: Organization can't be deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDict"


  /country:

    get:
      summary: List countries
      operationId: listCountries
      tags:
        - Country
      parameters:
        - name: limit
          in: query
          description: how many items to return in one page
          required: false
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          description: how many items to offset (number of pages * limit size)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: List of countries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCountries"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"


  /currency:

    get:
      summary: List currencies
      operationId: listCurrencies
      tags:
        - Currency
      parameters:
        - name: limit
          in: query
          description: how many items to return in one page
          required: false
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          description: how many items to offset (number of pages * limit size)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: List of currencies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCurrencies"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"


  /vFile/period:

    get:
      summary: List periods
      operationId: listPeriods
      tags:
        - vFile
      parameters:
        - name: limit
          in: query
          description: how many items to return in one page
          required: false
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          description: how many items to offset (number of pages * limit size)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: List of currencies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPeriods"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"


  /vFile/savedFilingPeriod:

    post:
      summary: List saved filing periods
      description: "SavedFilingPeriod corresponds to a calendar event (filing date)"
      operationId: listSFP
      tags:
        - vFile
      parameters:
        - name: limit
          in: query
          description: how many items to return in one page
          required: false
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          description: how many items to offset (number of pages * limit size)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: List of saved filing periods. Filtering applied if specified in request body.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSavedFilingPeriods"
        '400':
          description: Invalid date range (if given in request body)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDict"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                list_countries:
                  type: array
                  items:
                    type: string
                  description: "list of country ids to filter saved filing periods with"
                list_entities:
                  type: array
                  items:
                    type: string
                  description: "list of entity ids to filter saved filing periods with"
                date_start:
                  type: string
                  description: "start of date range"
                  example: "YYYY-MM-DD"
                date_end:
                  type: string
                  description: "end of date range"
                  example: "YYYY-MM-DD"
                stage:
                  type: string
                  description: "Saved filing period stage. Choice of [due, preparing, filed]"


  /vFile/savedFilingPeriod/{saved_filing_period_id}:

    get:
      summary: Get a specific saved filing period
      operationId: getSpecificSFP
      description: SavedFilingPeriod correspond to a calendar event (filing date)
      tags:
        - vFile
      responses:
        '200':
          description: Saved filing period was found and could be retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedFilingPeriod"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"
        '404':
          description: Saved filing period does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"

    patch:
      summary: Patch specific saved filing period
      operationId: patchSpecificSFP
      description: ->
        SavedFilingPeriod correspond to a calendar event (filing date)
      tags:
        - vFile
      responses:
        '200':
          description: Saved Filing Period was partially updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedFilingPeriod"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filing_status:
                  type: string
                  description: "Choices: [get_started, processed, processing, compliance_errors, upload_failed, processing_errors, ready_file, ready_file_nil, awaiting_review, rejected, filed, canceled]"
                outcome_type:
                  type: string
                  description: "Choices: [payment_due, payment_madeno_payment_due, refund_due, refund_requested, refund_carried_forward, refund_received, nil_return]"
                outcome_amount:
                  type: number
                  format: float
                comment_accept_reject:
                  type: string
                  description: "Comment during approval process"

    put:
      summary: Edit specific saved filing period
      operationId: editSpecificSFP
      description: ->
        SavedFilingPeriod correspond to a calendar event (filing date)
      tags:
        - vFile
      responses:
        '200':
          description: Saved Filing Period was updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedFilingPeriod"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorMessageDetail"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filing_status:
                  type: string
                  description: "Choices: [get_started, processed, processing, compliance_errors, upload_failed, processing_errors, ready_file, ready_file_nil, awaiting_review, rejected, filed, canceled]"
                outcome_type:
                  type: string
                  description: "Choices: [payment_due, payment_madeno_payment_due, refund_due, refund_requested, refund_carried_forward, refund_received, nil_return]"
                outcome_amount:
                  type: number
                  format: float
                comment_accept_reject:
                  type: string
                  description: "Comment during approval process"  

